html, body {
    background-repeat: no-repeat;
    background-color: #F7ECDF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url('/static/cursor.png'), auto;
  }

#greetings{
    font-family: 'Yeseva One', cursive;
    font-size: 45px;
    color: #EF972E;
}


p, li{
    font-family: Raleway;
    font-size: 20px;
    color: #444;
}
  


/* story 9 css */

.search-box{
    border-radius:25px;
    border:2px solid lightgray;
    padding:7px 20px 7px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    font-family: Raleway;
}

.search-box:focus-within {
    border-color: #fea94e;
    box-shadow: 0 0px 10px rgba(255, 208, 52, 0.274);
}

.search-box svg{
    color:lightgray;
    cursor: pointer;
    margin-right: 15px;
}

/* .main-title{
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
} */

.search-container{
    margin-top:20px;
    width: 50%;
}

.button{
    background-color: #EF972E;
    font-family: Raleway;
    border-radius: 5px;
    color: white;
    text-align: center;
}