<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <title>w e l c o m e ! | z a h r a</title>

    </head>

  <body>
        <div class="row-lg-12 text-center mt-5 mb-3">
            <div class="container">
                <div class="col-10 ml-auto mr-auto">
                    <h1 id="greetings">search your books here!&nbsp;&nbsp;📚</h1>
                </div>                
            </div>
        </div>
        <div class="row-lg-12 text-center mb-5">
            <div class="container">
                <div class="col-3 mx-auto ml-0 px-0">
                    <input class="search-box" type="text" id="input" placeholder="search your books here ..." title="type the name of the book">
                </div>                
            </div>
        </div> 

    <!-- Button trigger modal -->
    <div class="row-lg-12 text-center mb-5">
        <button type="button" class="btn button" id="top5books" data-toggle="modal" data-target="#exampleModal" onclick="top5books()">
            top 5 books
        </button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">top 5 books</h5>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
        </div>
    </div>

    <div class="section container">
        <div class="row table-heading text-center mb-5">
            <table id="the-table" class="table table-borderless mx-auto">
                <thead>
                    <tr>
                        <th scope="col" class="table-heading text-center">No.</th>
                        <th scope="col" class="table-heading text-center">Cover</th>
                        <th scope="col" class="table-heading text-center">Title</th>
                        <th scope="col" class="table-heading text-center">Authors</th>
                        <th scope="col" class="table-heading text-center">Publisher</th>
                        <th scope="col" class="table-heading text-center">Published Date</th>
                        <th scope="col" class="table-heading text-center">Likes</th>
                    </tr>
                </thead>
                <tbody id="content"></tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>